body{ margin:0;}
h1{
    margin-top:21px;
    margin-bottom:21px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
text-align: center ;
font-size: 72px;
color: #FFF;
background-color: #281B2D;}
h2 {
    margin-top:21px;
    margin-bottom:21px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
    border-bottom: 6px solid #00C54C;
text-align: left ;
font-size: 48px;
color: #FFF;
background-color: #281B2D;}
