body {
    margin: 0;
    background-color: #CAF0F8;
  width:1400px;
}



h1 {
    color: #fff;
  background-color:#0096C7;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
  margin-right:0;
   padding: 25px 0;
}

.subhead {
    background-color: #0096C7;
    color: #03045E;
    font-size: 48px;
    margin-top:6%;
    margin-right:6%;
    padding: 20px;
    border-bottom: 5px solid #023E8A;
    text-align: center;
    border-radius: 10px 140px 10px 140px
}
#subhead{width:96%}

.white-text { color: #fff }

.container {
  max-width:1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.columns {
    display: flex;
  columns:100px 2;
}

.main-content {
    width: 65%;}

.sidebar {
    width: 35%;
padding-left:2%;
  margin-left:50px;
  margin-top:40px;
}
    #sidebar{ 
    background-color:#90E0EF ;
}

.col-right {
    margin-left: 25px;
    margin-right:-3%;
    text-align:left;
}
a{color:#281B2D;
font-size:14px}
a:hover{color:#9138B7;}